.explain-text{
  text-align: justify;
  font-family: "Courier", serif;
  margin-left: 5%;
  margin-right: 5%;
}

.mat-raised-button{
  background: black;
  font-family: "Courier", serif;
  position: center;
  color: white;
  left: 43%;
  font-size: large;
}
