.explain-text{
  text-align: justify;
  font-family: "Courier", serif;
  margin-left: 5%;
  margin-right: 5%;
}

.box{
  width: 3.2%;
  pointer-events: none;
  cursor: not-allowed;
}

::-webkit-input-placeholder {
  text-align: center;
  color: black;
}

:-moz-placeholder { /* Firefox 18- */
  text-align: center;
  color: black;
}

::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;
  color: black;
}

:-ms-input-placeholder {
  text-align: center;
  color: black;
}

.textBox{
  width: 3.2%;
  pointer-events: none;
  cursor: not-allowed;
  opacity: 100%;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}



