<div class="with-icon">
  <mat-icon class="icon-display-admin">admin_panel_settings</mat-icon>
  <p class="text">
    Administrator
  </p>
</div>

<div class="positionButton">
  <div>
    <button mat-raised-button (click)="goToInsert()">Insert New TestID</button><br>
  </div>
  <br><br><br><br>
  <div>
    <button mat-raised-button (click)="downloadCSV()">Download CSV file</button>
  </div>
  <br><br><br><br>
  <div>
    <button mat-raised-button (click)="goToReport()">Report User</button>
  </div>
</div>

