<div class="positionPlus">
  <img id="center" *ngIf="plus" src="assets/images/plus.png" width="8%" style="position: fixed;">
</div>
<div class="positionArrow">
  <img id="arrow" width="50%" style="position: fixed; padding-top: 7%;">
  <p *ngIf="this.cue1" style="padding-left: 25.8%;padding-top: 10%; position: fixed">
    *
  </p>
</div>

<div class="positionCue">
  <img id="arrow2" width="50%" style="padding-top: 14%; position: fixed">
</div>
<p *ngIf="this.cue2" style="position: fixed; top: 75%; left: 24%; padding-left: 25.8%; padding-top: 2%;">
  *
</p>

<div *ngIf="this.button">
  <button (click)="leftButton()" mat-raised-button class="buttonLeft">
    <mat-icon class="icon-display">west</mat-icon>
  </button>
</div>

<div *ngIf="this.button">
  <button (click)="rightButton()" mat-raised-button class="buttonRight">
    <mat-icon class="icon-display">east</mat-icon>
  </button>
</div>




