<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center; padding-top: 15%">
  <h1>
    <button mat-raised-button *ngIf="!permission">The record is non started yet</button>
    <button mat-raised-button *ngIf="isRecording">Now is recording</button>
    <button mat-raised-button *ngIf="!isRecording && permission">The record is finished!</button>
  </h1>
</div>
<br>
<div style="text-align: center">
  <p style="text-align: center; font-size: large; color: red">
    Please do not refresh/reload the page after the recording has begun.
  </p>
  <br>
  <button mat-raised-button [disabled]="!isRecording" (click)="openDialog()">Stop</button>&nbsp;&nbsp;
  <button mat-raised-button [disabled]="!nextButton">Next</button>
</div>
<br>
<br>

<div *ngFor="let url of urls">
  <!-- <audio controls="" *ngIf="url"> -->
  <audio controls="" *ngIf="url">
    <source [src]="sanitize(url)" type="audio/wav">
  </audio>
</div>

<router-outlet></router-outlet>

